<footer>
    <div class="top container">
        <section>
            <h4>Link utili</h4>
            <ul>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
        </section>

        <section>
            <h4>Socials</h4>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Tiktok</a></li>
                <li><a href="#">Youtube</a></li>
            </ul>
        </section>

        <section>
            <h4>Contatti</h4>
            <ul>
                <li>Email: nulla@nulla.com</li>
                <li>Tel: +39 000 000 0000</li>
            </ul>
        </section>
    </div>
    <div class="bottom">
        &copy; Blog
    </div>
</footer>