<footer>
    <div class="top container">
        <section>
            <h4>Link utili</h4>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog">Blog</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="/profile">Profilo</a></li>
                    {% if current_user.role_id == 2 or current_user.role_id == 3 %}
                        <li><a href="/admin">Pannello Admin</a></li>
                    {% endif %}
                {% else %}
                    <li><a href="/login">Accedi</a></li>
                {% endif %}
            </ul>
        </section>

        <section>
            <h4>Socials</h4>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Tiktok</a></li>
                <li><a href="#">Youtube</a></li>
            </ul>
        </section>

        <section>
            <h4>Contatti</h4>
            <ul>
                <li>Email: nulla@nulla.com</li>
                <li>Tel: +39 000 000 0000</li>
            </ul>
        </section>
    </div>
    <div class="bottom">
        &copy; Blog-<span id="year"></span>
    </div>

    <script>
        document.getElementById('year').innerHTML = new Date().getFullYear();
    </script>
</footer>