<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='imgs/icon.png')  }}" >
        <link rel="stylesheet" href="{{ url_for('static', filename='external/bootstrap.min.css')  }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')  }}">
        {% block head_block %}
        {% endblock %}


        <title> {% block page_title %}{% endblock %} | {{settings[0].value_setting}}</title>
    </head>
    <body>

        {% include 'partials/__header.html' %}

        {% block content %}
        {% endblock %}

        {% include 'partials/__footer.html' %}
    </body>

    {% block scripts %}
    {% endblock %}
</html>