{% extends 'partials/page.html' %}

{% block page_title %}Articoli{% endblock %}

{% block head_block %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css')}}">
{% endblock %}

{% block content %}
    
    <main class="container">
        <h1>Blog</h1>
        <div class="posts-container">
            {% for post in posts.items %}
                <a href="{{ url_for('post_detail', slug=post.slug) }}" class="article">
                    <div class="texts">
                        <h2>{{post.title}}</h2>
                        <h3>{{post.subtitle}}</h3>
                    </div>

                    <img src="{{ url_for('static', filename='imgs/posts/' + post.image) }}" class="img-post" alt="">
                    <div class="layover"></div>
                </a>
            {% endfor %}
        </div>

        {% if prev_page %}
            <a href="{{prev_page}}" class="link_page">Indietro</a>
        {% endif %}

        {% if next_page %}
            <a href="{{next_page}}" class="link_page">Avanti</a>
        {% endif %}
        
    </main>

{% endblock %}