{% extends 'partials/page.html' %}

{% block page_title %}Homepage{% endblock %}

{% block head_block %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">
{% endblock %}

{% block content %}

<main>
        <section class="slider">
        
            <div class="item" id="slider-item-1">
                <a href="#">
                    <img class="slider-img" src="{{ url_for('static', filename='imgs/background_slider_1.jpg') }}" >
                    <div class="container">
                        <div>
                            <h2>{{settings[2].value_setting}}</h2>
                            {{settings[3].value_setting}}
                        </div>
                    </div>
                </a>
            </div>
        
            <img class="divider-white-bottom" src="{{ url_for('static', filename='imgs/divider-white-bottom.svg') }}" />
        </section>
        
        <section class="motto container">
            <h2>Blog</h2>
            <h4>{{settings[1].value_setting}}</h4>
        </section>

        <section class="last-news container">
            <h2>Ultime Notizie</h2>

            {% for post in posts.items %}
                <a href="/post/{{post.slug}}" class="card">
                    <div class="post_container">
                        <h3>{{ post.title }}</h3>
                        {% if post.subtitle %}
                            <p>{{ post.subtitle }}</p>
                        {% endif %}

                        {% if post.card_cover %}
                            <img src="{{ url_for('static', filename='imgs/posts/' + post.card_cover) }}" class="cover">
                        {% endif %}
                    </div>
                </a>
            {% endfor %}

        </section>
    </main>

{% endblock %}